{% extends 'base.html' %}

{% block content %}
<h3>Packed Tray</h3> <br> <br> <br>

<!--     نمایش نتیجه -->
           {% if Delta_P%}
             <div>
                <div class="alert alert-success" role="alert">
                    result:
                    <br><b>Pressure Drop= {{Delta_P}} </b> [pa]<br>
                </div>
             </div>
           {% endif %}

<!--     هشدار ها -->
          {% if Approximate_flooding %}
            <div>
                <div class="alert alert-danger" role="alert">
                    Warning: {{Approximate_flooding}} <br>
                </div>
            </div>
          {% endif %}
          {% if Pressure_Drop %}
            <div>
                <div class="alert alert-danger" role="alert">
                    Warning: {{Pressure_Drop}} <br>
                </div>
            </div>
          {% endif %}
          {% if Pup400 %}
            <div>
                <div class="alert alert-danger" role="alert">
                    Warning: {{Pup400}} <br>
                </div>
            </div>
          {% endif %}
          {% if Pdown400 %}
            <div>
                <div class="alert alert-danger" role="alert">
                    Warning: {{Pdown400}} <br>
                </div>
            </div>
          {% endif %}


<form action="/Home/packedtray/" method="POST" >
  {% csrf_token %}
  <table class="table" style="width:50%"  >

    <thead class="table-dark">
<!--    ستون سیاه اصلی-->

      <tr>
        <th scope="col" >Title</th>
        <th scope="col" >Amounts</th>
      </tr>
<!--    بدنه-->
    </thead>
    <tbody>
        <tr><h1><th scope="row"  >1:Basic information</th></h1></tr>
      <tr>
        <th scope="row" >Tower Diameter [m]:</th>
        <td>{{form.Tower_Diam}}</td>
      </tr>
      <tr>
        <th scope="row" >Gas Flow Rate[Kg/s]:</th>
        <td>{{form.Gas_Flowrate}}</td>
      </tr>
      <tr>
        <th scope="row" >Gas density [Kg/m^3]:</th>
        <td>{{form.Gas_density}}</td>
      </tr>
      <tr>
        <th scope="row" >Liquid Flow Rate[Kg/s]:</th>
        <td>{{form.Liq_Flowrate}}</td>
      </tr>
      <tr>
        <th scope="row" >Liquid density [Kg/m^3]:</th>
        <td>{{form.Liq_density}}</td>
      </tr>

      <tr>
        <th scope="row" >Liquid Viscosity [Kg/m.s]:</th>
        <td>{{form.viscosity_sub_in_liq}}</td>
      </tr>
      <tr>
        <th scope="row" >Cf of Packing:</th>
        <td>{{form.Cf}}</td>
      </tr>


    </tbody>
  </table>

    <input type="submit"  class="btn btn-success" value="check"  >
</form>

</div>
{% endblock %}